.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.item-container {
    margin-top: 30px;
}

.item-container {
  list-style: none;
}

.item-container .item {
  border: #eadcdc;
  border-width: 0 0 2px 0;
  border-style: solid;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.item-container .item-name {
  display: inline-block;
  width: 83%;
  font-size: 20px;
  margin-left: 12px;
  vertical-align: middle;
}

.item-container .item-done {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.item-container .btn-delete {
  width: 30px;
  height: 30px;
  margin-left: 12px;
  vertical-align: middle;
}